img {
    width: 300px;
    height: 300px;
}

.circled{
    -webkit-clip-path: circle(25%);
    clip-path: circle(25%);
    -webkit-mask-image: none;
    mask-image: none;    
}
.masked{
    width: 350px;
    height: 350px;
    -webkit-clip-path: none;
    clip-path: none; 
    -webkit-mask-image: url(mask.png);
    mask-image: url(mask.png);    
}
